#header {
    height: 100px;
    background-color: #FFEB00;
    padding: 15px 20px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: #ccc;
}

#footer span {
    color: #aaa;
    float: right;
    padding-right: 20px;
}